.board {
    height: 720px;
    width: 720px;
    background-color: aqua;
    display: grid;
    grid-template-columns: repeat(8, 12.5%);
    grid-template-rows: repeat(8, 12.5%);
    justify-self: center;
    align-self: center;
}