.check {
    width: 70%;
    height: 70%;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-size: 80%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}